module telegraf 1.0;

type telegraf_t;
type telegraf_exec_t;

require {
    type acpi_bios_t;
    type autofs_device_t;
    type bin_t;
    type boot_t;
    type bpf_t;
    type cert_t;
    type cgroup_t;
    type clock_device_t;
    type configfs_t;
    type container_config_t;
    type debugfs_t;
    type default_context_t;
    type device_t;
    type devlog_t;
    type devpts_t;
    type dosfs_t;
    type efivarfs_t;
    type etc_runtime_t;
    type etc_t;
    type event_device_t;
    type file_context_t;
    type fixed_disk_device_t;
    type fluent_bit_t;
    type framebuf_device_t;
    type fs_t;
    type fusefs_t;
    type fuse_device_t;
    type hugetlbfs_t;
    type inbm_conf_rw_t;
    type init_runtime_t;
    type init_t;
    type init_tmpfs_t;
    type initctl_t;
    type initrc_runtime_t;
    type ipmi_device_t;
    type kernel_t;
    type kmsg_device_t;
    type kubernetes_config_t;
    type kvm_device_t;
    type locale_t;
    type loop_control_device_t;
    type lvm_control_t;
    type lvm_etc_t;
    type lvm_exec_t;
    type lvm_lock_t;
    type lvm_metadata_t;
    type lvm_runtime_t;
    type memory_device_t;
    type mouse_device_t;
    type mptctl_device_t;
    type net_conf_t;
    type nsfs_t;
    type nvram_device_t;
    type otelcol_contrib_t;
    type pmqos_device_t;
    type ppp_device_t;
    type proc_kcore_t;
    type proc_net_t;
    type proc_t;
    type pstore_t;
    type ptmx_t;
    type ramfs_t;
    type random_device_t;
    type scsi_generic_device_t;
    type security_t;
    type selinux_config_t;
    type setfiles_t;
    type shadow_t;
    type shell_exec_t;
    type src_t;
    type sudo_exec_t;
    type sysctl_kernel_t;
    type sysfs_t;
    type syslogd_runtime_t;
    type systemd_logind_t;
    type system_dbusd_runtime_t;
    type system_dbusd_t;
    type systemd_logind_t;
    type systemd_sessions_runtime_t;
    type systemd_userdbd_runtime_t;
    type systemd_userdbd_t;
    type tmp_t;
    type tmpfs_t;
    type tpm_device_t;
    type tracefs_t;
    type tun_tap_device_t;
    type udev_runtime_t;
    type unlabeled_t;
    type urandom_device_t;
    type usb_device_t;
    type user_home_dir_t;
    type user_runtime_root_t;
    type user_runtime_t;
    type usr_t;
    type var_lib_t;
    type var_log_t;
    type var_lock_t;
    type var_run_t;
    type vfio_device_t;
    type vhost_device_t;
    type watchdog_device_t;
    type xserver_misc_device_t;

    class blk_file { getattr ioctl open read };
    class capability { audit_write dac_read_search net_admin setgid setuid sys_resource };
    class chr_file { getattr ioctl open read write };
    class dbus send_msg;
    class dir { getattr open read search write add_name remove_name create };
    class fd use;
    class fifo_file { getattr ioctl read write open append lock };
    class file { entrypoint execute execute_no_trans getattr ioctl map open read relabelfrom setattr write append create lock unlink };
    class filesystem { associate getattr };
    class lnk_file { getattr read };
    class netlink_route_socket { bind create getattr nlmsg_read read write };
    class netlink_audit_socket { create nlmsg_relay read write };
    class process { getsched setpgid setrlimit signal sigchld signal signull sigkill setsched setfscreate getpgid };
    class sock_file { getattr open read write append };
    class unix_dgram_socket { connect create write sendto };
    class unix_stream_socket { connectto create connect stream getattr read write ioctl };

    attribute daemon;
    attribute domain;
    attribute entry_type;
    attribute exec_type;
    attribute file_type;

    role system_r;
}

# Define the domain and entry point for the selinux_tester service
typeattribute telegraf_t domain, daemon;
typeattribute telegraf_exec_t entry_type, exec_type, file_type;

# Type transition rule
type_transition init_t telegraf_exec_t:process telegraf_t;

# Role assignment
role system_r types telegraf_t;

#============= telegraf_t ==============
allow telegraf_t acpi_bios_t:chr_file getattr;
allow telegraf_t autofs_device_t:chr_file getattr;
allow telegraf_t bin_t:dir { getattr search };
allow telegraf_t bin_t:file { ioctl execute execute_no_trans getattr map open read setattr write };
allow telegraf_t bin_t:lnk_file read;
allow telegraf_t boot_t:dir search;
allow telegraf_t bpf_t:dir getattr;
allow telegraf_t bpf_t:filesystem getattr;
allow telegraf_t cert_t:dir getattr;
allow telegraf_t cgroup_t:filesystem getattr;
allow telegraf_t clock_device_t:chr_file getattr;
allow telegraf_t configfs_t:dir getattr;
allow telegraf_t configfs_t:filesystem getattr;
allow telegraf_t container_config_t:dir getattr;
allow telegraf_t debugfs_t:dir search;
allow telegraf_t debugfs_t:filesystem getattr;
allow telegraf_t default_context_t:dir search;
allow telegraf_t device_t:blk_file getattr;
allow telegraf_t device_t:filesystem getattr;
allow telegraf_t device_t:chr_file getattr;
allow telegraf_t devlog_t:sock_file { getattr write };
allow telegraf_t devpts_t:filesystem getattr;
allow telegraf_t dosfs_t:dir getattr;
allow telegraf_t dosfs_t:filesystem getattr;
allow telegraf_t efivarfs_t:dir getattr;
allow telegraf_t efivarfs_t:filesystem getattr;
allow telegraf_t etc_runtime_t:file { getattr open read };
allow telegraf_t etc_t:file { getattr open read ioctl };
allow telegraf_t etc_t:lnk_file read;
allow telegraf_t event_device_t:chr_file getattr;
allow telegraf_t file_context_t:dir search;
allow telegraf_t file_context_t:file { getattr map open read };
allow telegraf_t fixed_disk_device_t:blk_file { getattr ioctl open read };
allow telegraf_t framebuf_device_t:chr_file getattr;
allow telegraf_t fs_t:filesystem { associate getattr };
allow telegraf_t fusefs_t:filesystem getattr;
allow telegraf_t fuse_device_t:chr_file getattr;
allow telegraf_t hugetlbfs_t:dir getattr;
allow telegraf_t hugetlbfs_t:filesystem getattr;
allow telegraf_t inbm_conf_rw_t:file { getattr read write };
allow telegraf_t init_t:dir search;
allow telegraf_t init_t:fd use;
allow telegraf_t init_t:fifo_file { getattr read write append ioctl lock };
allow telegraf_t init_t:file { open read };
allow telegraf_t init_t:process { sigchld signull getpgid };
allow telegraf_t init_t:unix_dgram_socket sendto;
allow telegraf_t init_t:unix_stream_socket { getattr read write ioctl };
allow telegraf_t init_tmpfs_t:file getattr;
allow telegraf_t initctl_t:fifo_file getattr;
allow telegraf_t initrc_runtime_t:file { open read };
allow telegraf_t ipmi_device_t:chr_file { getattr ioctl open read write };
allow telegraf_t kernel_t:unix_dgram_socket sendto;
allow telegraf_t kmsg_device_t:chr_file getattr;
allow telegraf_t kubernetes_config_t:dir getattr;
allow telegraf_t kvm_device_t:chr_file getattr;
allow telegraf_t locale_t:dir { getattr open read search };
allow telegraf_t locale_t:file { getattr map open read };
allow telegraf_t loop_control_device_t:chr_file getattr;
allow telegraf_t lvm_control_t:chr_file { getattr ioctl open read write };
allow telegraf_t lvm_etc_t:dir { getattr search };
allow telegraf_t lvm_etc_t:file { getattr open read };
allow telegraf_t lvm_exec_t:file { execute execute_no_trans getattr map open read };
allow telegraf_t lvm_lock_t:dir { add_name getattr read remove_name search write };
allow telegraf_t lvm_lock_t:file { append create getattr lock open read unlink };
allow telegraf_t lvm_metadata_t:dir { getattr search };
allow telegraf_t lvm_runtime_t:dir { add_name remove_name search write };
allow telegraf_t lvm_runtime_t:file { create getattr lock open read unlink write };
allow telegraf_t memory_device_t:chr_file getattr;
allow telegraf_t mouse_device_t:chr_file getattr;
allow telegraf_t mptctl_device_t:chr_file getattr;
allow telegraf_t net_conf_t:file getattr;
allow telegraf_t nsfs_t:file getattr;
allow telegraf_t nsfs_t:filesystem getattr;
allow telegraf_t nvram_device_t:chr_file getattr;
allow telegraf_t otelcol_contrib_t:unix_stream_socket connectto;
allow telegraf_t pmqos_device_t:chr_file getattr;
allow telegraf_t ppp_device_t:chr_file getattr;
allow telegraf_t proc_kcore_t:file getattr;
allow telegraf_t proc_net_t:file { open read };
allow telegraf_t proc_t:dir read;
allow telegraf_t proc_t:file { getattr open read };
allow telegraf_t proc_t:filesystem getattr;
allow telegraf_t pstore_t:dir getattr;
allow telegraf_t pstore_t:filesystem getattr;
allow telegraf_t ptmx_t:chr_file getattr;
allow telegraf_t ramfs_t:dir getattr;
allow telegraf_t ramfs_t:filesystem getattr;
allow telegraf_t random_device_t:chr_file getattr;
allow telegraf_t scsi_generic_device_t:chr_file getattr;
allow telegraf_t security_t:dir getattr;
allow telegraf_t security_t:filesystem getattr;
allow telegraf_t self:capability { audit_write dac_read_search net_admin setgid setuid sys_resource };
allow telegraf_t self:fifo_file { getattr ioctl read write };
allow telegraf_t self:netlink_audit_socket { create nlmsg_relay read write };
allow telegraf_t self:netlink_route_socket { bind create getattr nlmsg_read read write };
allow telegraf_t self:process { getsched setpgid setrlimit signal signull setfscreate setsched };
allow telegraf_t self:unix_dgram_socket { connect create write };
allow telegraf_t selinux_config_t:dir search;
allow telegraf_t selinux_config_t:file { getattr open read };
allow telegraf_t shadow_t:file { getattr open read };
allow telegraf_t shell_exec_t:file { execute map open read };
allow telegraf_t src_t:dir search;
allow telegraf_t sudo_exec_t:file { execute execute_no_trans getattr map open read };
allow telegraf_t sysctl_kernel_t:dir search;
allow telegraf_t sysctl_kernel_t:file { getattr open read };
allow telegraf_t sysfs_t:dir read;
allow telegraf_t sysfs_t:file { getattr open read };
allow telegraf_t sysfs_t:filesystem getattr;
allow telegraf_t sysfs_t:lnk_file { getattr read };
allow telegraf_t syslogd_runtime_t:dir search;
allow telegraf_t system_dbusd_runtime_t:dir search;
allow telegraf_t system_dbusd_runtime_t:sock_file write;
allow telegraf_t system_dbusd_t:dbus send_msg;
allow telegraf_t system_dbusd_t:unix_stream_socket connectto;
allow telegraf_t systemd_logind_t:dbus send_msg;
allow telegraf_t systemd_logind_t:fd use;
allow telegraf_t systemd_sessions_runtime_t:fifo_file write;
allow telegraf_t systemd_userdbd_runtime_t:dir search;
allow telegraf_t systemd_userdbd_runtime_t:sock_file write;
allow telegraf_t systemd_userdbd_t:unix_stream_socket connectto;
allow telegraf_t telegraf_exec_t:file { entrypoint execute getattr map open read };
allow telegraf_t tmp_t:dir getattr;
allow telegraf_t tmp_t:file { getattr open read };
allow telegraf_t tmpfs_t:dir { getattr search };
allow telegraf_t tmpfs_t:filesystem getattr;
allow telegraf_t tpm_device_t:chr_file getattr;
allow telegraf_t tracefs_t:dir getattr;
allow telegraf_t tracefs_t:filesystem getattr;
allow telegraf_t tun_tap_device_t:chr_file getattr;
allow telegraf_t udev_runtime_t:dir search;
allow telegraf_t udev_runtime_t:file { getattr open read };
allow telegraf_t unlabeled_t:dir { getattr search };
allow telegraf_t unlabeled_t:file { getattr open read };
allow telegraf_t urandom_device_t:chr_file { getattr open read };
allow telegraf_t usb_device_t:chr_file getattr;
allow telegraf_t user_home_dir_t:dir search;
allow telegraf_t user_runtime_root_t:dir search;
allow telegraf_t user_runtime_t:dir getattr;
allow telegraf_t usr_t:file { getattr open read };
allow telegraf_t var_lib_t:dir { getattr search };
allow telegraf_t var_lib_t:file getattr;
allow telegraf_t var_log_t:dir search;
allow telegraf_t var_log_t:file getattr;
allow telegraf_t var_lock_t:dir search;
allow telegraf_t var_run_t:sock_file write;
allow telegraf_t vfio_device_t:chr_file getattr;
allow telegraf_t vhost_device_t:chr_file getattr;
allow telegraf_t watchdog_device_t:chr_file getattr;
allow telegraf_t xserver_misc_device_t:chr_file getattr;

#============= fluent_bit_t ==============
allow fluent_bit_t telegraf_t:dir { getattr search };
allow fluent_bit_t telegraf_t:file { open read };

#============= init_t ==============
allow init_t telegraf_t:file { execute execute_no_trans map };

#============= system_dbusd_t ==============
allow system_dbusd_t telegraf_t:fd use;

#============= systemd_logind_t ==============
allow systemd_logind_t telegraf_t:dbus send_msg;
allow systemd_logind_t telegraf_t:dir search;
allow systemd_logind_t telegraf_t:fd use;
allow systemd_logind_t telegraf_t:file { getattr ioctl open read };
