module cluster_agent 1.0;

type cluster_agent_t;
type cluster_agent_exec_t;
type cluster_agent_conf_t;

require {
    type acpi_bios_t;
    type auditd_t;
    type autofs_device_t;
    type bin_t;
    type cert_t;
    type clock_device_t;
    type container_config_t;
    type container_file_t;
    type crond_t;
    type default_context_t;
    type device_t;
    type devlog_t;
    type dmidecode_exec_t;
    type etc_runtime_t;
    type etc_t;
    type event_device_t;
    type file_context_t;
    type fixed_disk_device_t;
    type fluent_bit_t;
    type framebuf_device_t;
    type fs_t;
    type fsdaemon_t;
    type fuse_device_t;
    type getty_t;
    type hd_agent_t;
    type http_port_t;
    type hugetlbfs_t;
    type ifconfig_exec_t;
    type inbm_t;
    type init_runtime_t;
    type init_t;
    type init_tmpfs_t;
    type initctl_t;
    type initrc_runtime_t;
    type initrc_t;
    type ipmi_device_t;
    type iptables_exec_t;
    type iptables_runtime_t;
    type irqbalance_t;
    type kernel_t;
    type kmsg_device_t;
    type kvm_device_t;
    type load_policy_exec_t;
    type local_login_t;
    type locale_t;
    type loop_control_device_t;
    type lvm_control_t;
    type lvm_etc_t;
    type lvm_exec_t;
    type lvm_lock_t;
    type lvm_metadata_t;
    type lvm_runtime_t;
    type lvm_t;
    type mount_exec_t;
    type mount_runtime_t;
    type mouse_device_t;
    type mptctl_device_t;
    type net_conf_t;
    type node_agent_t;
    type nsfs_t;
    type ntpd_t;
    type nvram_device_t;
    type otelcol_contrib_t;
    type platform_telemetry_agent_t;
    type platform_update_agent_t;
    type pmqos_device_t;
    type ppp_device_t;
    type proc_net_t;
    type proc_t;
    type ptmx_t;
    type random_device_t;
    type rasdaemon_t;
    type scsi_generic_device_t;
    type security_t;
    type selinux_config_t;
    type semanage_exec_t;
    type semanage_read_lock_t;
    type semanage_store_t;
    type semanage_trans_lock_t;
    type setfiles_exec_t;
    type shadow_t;
    type shell_exec_t;
    type sshd_t;
    type sudo_exec_t;
    type sysctl_kernel_t;
    type sysfs_t;
    type syslogd_runtime_t;
    type syslogd_t;
    type system_cronjob_t;
    type system_dbusd_runtime_t;
    type system_dbusd_t;
    type systemd_homed_t;
    type systemd_logind_t;
    type systemd_networkd_t;
    type systemd_networkd_unit_t;
    type systemd_resolved_runtime_t;
    type systemd_resolved_t;
    type systemd_sessions_runtime_t;
    type systemd_transient_unit_t;
    type systemd_unit_t;
    type systemd_userdbd_runtime_t;
    type systemd_userdbd_t;
    type telegraf_t;
    type tmp_t;
    type tmpfs_t;
    type tpm_device_t;
    type tpm2_abrmd_t;
    type tun_tap_device_t;
    type udev_runtime_t;
    type udev_t;
    type unconfined_t;
    type unlabeled_t;
    type urandom_device_t;
    type usb_device_t;
    type user_home_dir_t;
    type user_home_t;
    type user_runtime_root_t;
    type user_runtime_t;
    type usr_t;
    type var_lib_t;
    type var_lock_t;
    type var_log_t;
    type var_run_t;
    type vfio_device_t;
    type vhost_device_t;
    type watchdog_device_t;
    type xserver_misc_device_t;

    class blk_file { ioctl open read getattr write };
    class blk_file getattr;
    class capability { audit_write dac_override dac_read_search kill net_admin net_raw setgid setuid sys_admin sys_nice sys_module sys_resource };
    class chr_file { getattr ioctl open read write unlink };
    class dbus send_msg;
    class dir { add_name create getattr open read remove_name rmdir search setattr write };
    class fd use;
    class fifo_file { append getattr ioctl read write unlink open lock };
    class file { append create entrypoint execute execute_no_trans getattr ioctl lock map open read relabelfrom relabelto rename setattr unlink write link };
    class filesystem { getattr unmount associate };
    class lnk_file { getattr read unlink };
    class netlink_audit_socket { create nlmsg_relay read write };
    class netlink_netfilter_socket { bind create getattr read setopt write };
    class netlink_route_socket { bind create getattr nlmsg_read nlmsg_write read setopt write };
    class process { getcap setcap getpgid getsched setpgid setrlimit setsched sigchld signal signull sigkill setfscreate };
    class rawip_socket { create getopt setopt };
    class sem { associate create destroy read unix_read unix_write write };
    class service { start status stop reload };
    class sock_file { getattr open read unlink write append };
    class system { ipc_info module_request reload status };
    class tcp_socket { connect create getattr getopt name_connect read setopt write };
    class udp_socket { connect create getattr read setopt write };
    class unix_dgram_socket { connect create ioctl sendto write };
    class unix_stream_socket { connectto create connect stream getattr read write ioctl };

    attribute daemon;
    attribute domain;
    attribute entry_type;
    attribute exec_type;
    attribute file_type;

    role system_r;
}

# Define the domain and entry point for the selinux_tester service
typeattribute cluster_agent_t domain, daemon;
typeattribute cluster_agent_exec_t entry_type, exec_type, file_type;

# Type transition rule
type_transition init_t cluster_agent_exec_t:process cluster_agent_t;

# Role assignment
role system_r types cluster_agent_t;

#============= cluster_agent_t ==============
allow cluster_agent_t acpi_bios_t:chr_file getattr;
allow cluster_agent_t auditd_t:dir { getattr search };
allow cluster_agent_t auditd_t:file { open read };
allow cluster_agent_t autofs_device_t:chr_file getattr;
allow cluster_agent_t bin_t:dir { getattr search };
allow cluster_agent_t bin_t:file { execute execute_no_trans getattr map open read setattr write };
allow cluster_agent_t bin_t:lnk_file read;
allow cluster_agent_t cert_t:dir { open read search };
allow cluster_agent_t cert_t:file { getattr open read };
allow cluster_agent_t cert_t:lnk_file read;
allow cluster_agent_t clock_device_t:chr_file getattr;
allow cluster_agent_t cluster_agent_conf_t:file { getattr open read write unlink };
allow cluster_agent_t cluster_agent_exec_t:file { entrypoint execute execute_no_trans getattr ioctl map open read };
allow cluster_agent_t container_config_t:dir { getattr open read remove_name rmdir search write };
allow cluster_agent_t container_config_t:file unlink;
allow cluster_agent_t container_file_t:dir { getattr open read remove_name rmdir search write };
allow cluster_agent_t container_file_t:file unlink;
allow cluster_agent_t container_file_t:sock_file unlink;
allow cluster_agent_t crond_t:dir { getattr search };
allow cluster_agent_t crond_t:file { open read };
allow cluster_agent_t default_context_t:dir search;
allow cluster_agent_t device_t:blk_file getattr;
allow cluster_agent_t device_t:chr_file getattr;
allow cluster_agent_t device_t:file getattr;
allow cluster_agent_t devlog_t:sock_file getattr;
allow cluster_agent_t devlog_t:sock_file write;
allow cluster_agent_t dmidecode_exec_t:file { execute execute_no_trans getattr map open read };
allow cluster_agent_t etc_runtime_t:file { getattr open read unlink };
allow cluster_agent_t etc_t:dir { add_name create remove_name rmdir setattr write };
allow cluster_agent_t etc_t:file { append create getattr ioctl open read unlink write };
allow cluster_agent_t etc_t:lnk_file read;
allow cluster_agent_t event_device_t:chr_file getattr;
allow cluster_agent_t file_context_t:dir search;
allow cluster_agent_t file_context_t:file { getattr map open read };
allow cluster_agent_t fixed_disk_device_t:blk_file { getattr ioctl open read write };
allow cluster_agent_t fluent_bit_t:dir { getattr search };
allow cluster_agent_t fluent_bit_t:file { open read };
allow cluster_agent_t framebuf_device_t:chr_file getattr;
allow cluster_agent_t fs_t:filesystem { getattr unmount };
allow cluster_agent_t fsdaemon_t:dir { getattr search };
allow cluster_agent_t fsdaemon_t:file { open read };
allow cluster_agent_t fuse_device_t:chr_file getattr;
allow cluster_agent_t getty_t:dir { getattr search };
allow cluster_agent_t getty_t:file { open read };
allow cluster_agent_t hd_agent_t:dir { getattr search };
allow cluster_agent_t hd_agent_t:file { open read };
allow cluster_agent_t http_port_t:tcp_socket name_connect;
allow cluster_agent_t hugetlbfs_t:dir getattr;
allow cluster_agent_t ifconfig_exec_t:file { execute execute_no_trans getattr map open read };
allow cluster_agent_t inbm_t:dir { getattr search };
allow cluster_agent_t inbm_t:file { open read };
allow cluster_agent_t init_runtime_t:dir { getattr search };
allow cluster_agent_t init_runtime_t:file { getattr unlink };
allow cluster_agent_t init_runtime_t:sock_file write;
allow cluster_agent_t init_t:dir { getattr search };
allow cluster_agent_t init_t:fd use;
allow cluster_agent_t init_t:fifo_file { getattr read write append ioctl lock }; 
allow cluster_agent_t init_t:file { getattr open read };
allow cluster_agent_t init_t:lnk_file read;
allow cluster_agent_t init_t:process { sigchld signull sigkill getpgid };
allow cluster_agent_t init_t:system { reload status };
allow cluster_agent_t init_t:unix_dgram_socket sendto;  
allow cluster_agent_t init_t:unix_stream_socket { connectto getattr read write ioctl };
allow cluster_agent_t init_tmpfs_t:file getattr;
allow cluster_agent_t initctl_t:fifo_file getattr;
allow cluster_agent_t initrc_runtime_t:dir { add_name getattr open read remove_name rmdir search write };
allow cluster_agent_t initrc_runtime_t:file { create getattr lock open read unlink write };
allow cluster_agent_t initrc_runtime_t:sock_file write;
allow cluster_agent_t initrc_t:dir { getattr search };
allow cluster_agent_t initrc_t:file { open read };
allow cluster_agent_t initrc_t:unix_stream_socket connectto;
allow cluster_agent_t ipmi_device_t:chr_file getattr;
allow cluster_agent_t iptables_exec_t:file { execute execute_no_trans getattr map open read };
allow cluster_agent_t iptables_runtime_t:file { lock open read };
allow cluster_agent_t irqbalance_t:dir { getattr search };
allow cluster_agent_t irqbalance_t:file { open read };
allow cluster_agent_t kernel_t:dir { getattr search };
allow cluster_agent_t kernel_t:file { open read };
allow cluster_agent_t kernel_t:system { ipc_info module_request };
allow cluster_agent_t kernel_t:unix_dgram_socket sendto;
allow cluster_agent_t kmsg_device_t:chr_file getattr;
allow cluster_agent_t kvm_device_t:chr_file getattr;
allow cluster_agent_t load_policy_exec_t:file execute;
allow cluster_agent_t local_login_t:dir { getattr search };
allow cluster_agent_t local_login_t:file { open read };
allow cluster_agent_t locale_t:dir { getattr open read search };
allow cluster_agent_t locale_t:file { getattr map open read };
allow cluster_agent_t loop_control_device_t:chr_file getattr;
allow cluster_agent_t lvm_control_t:chr_file { getattr ioctl open read write };
allow cluster_agent_t lvm_etc_t:dir { getattr search };
allow cluster_agent_t lvm_etc_t:file { getattr open read };
allow cluster_agent_t lvm_exec_t:file { execute execute_no_trans map open read };
allow cluster_agent_t lvm_exec_t:file getattr;
allow cluster_agent_t lvm_lock_t:dir { add_name getattr read remove_name search write };
allow cluster_agent_t lvm_lock_t:file { append create getattr lock open read unlink };
allow cluster_agent_t lvm_metadata_t:dir { getattr search };
allow cluster_agent_t lvm_runtime_t:dir { add_name remove_name search write };
allow cluster_agent_t lvm_runtime_t:file { create getattr lock open read unlink write };
allow cluster_agent_t mount_exec_t:file { execute execute_no_trans getattr map open read };
allow cluster_agent_t mount_runtime_t:dir { getattr read search write };
allow cluster_agent_t mouse_device_t:chr_file getattr;
allow cluster_agent_t mptctl_device_t:chr_file getattr;
allow cluster_agent_t net_conf_t:file { getattr open read };
allow cluster_agent_t node_agent_t:dir { getattr search };
allow cluster_agent_t node_agent_t:file { open read };
allow cluster_agent_t nsfs_t:file getattr;
allow cluster_agent_t nsfs_t:filesystem unmount;
allow cluster_agent_t ntpd_t:dir { getattr search };
allow cluster_agent_t ntpd_t:file { open read };
allow cluster_agent_t nvram_device_t:chr_file getattr;
allow cluster_agent_t otelcol_contrib_t:dir { getattr search };
allow cluster_agent_t otelcol_contrib_t:file { open read };
allow cluster_agent_t otelcol_contrib_t:unix_stream_socket connectto;
allow cluster_agent_t platform_telemetry_agent_t:dir { getattr search };
allow cluster_agent_t platform_telemetry_agent_t:file { open read };
allow cluster_agent_t platform_update_agent_t:dir { getattr search };
allow cluster_agent_t platform_update_agent_t:file { open read };
allow cluster_agent_t pmqos_device_t:chr_file getattr;
allow cluster_agent_t ppp_device_t:chr_file getattr;
allow cluster_agent_t proc_net_t:file { getattr open read };
allow cluster_agent_t proc_t:dir read;
allow cluster_agent_t proc_t:file { getattr open read };
allow cluster_agent_t proc_t:filesystem getattr;
allow cluster_agent_t ptmx_t:chr_file getattr;
allow cluster_agent_t random_device_t:chr_file getattr;
allow cluster_agent_t rasdaemon_t:dir { getattr search };
allow cluster_agent_t rasdaemon_t:file { open read };
allow cluster_agent_t scsi_generic_device_t:chr_file getattr;
allow cluster_agent_t security_t:filesystem getattr;
allow cluster_agent_t self:capability { audit_write dac_override dac_read_search kill net_admin net_raw setgid setuid sys_module sys_resource sys_admin sys_nice };
allow cluster_agent_t self:fifo_file { append getattr ioctl read write };
allow cluster_agent_t self:netlink_audit_socket { create nlmsg_relay read write };
allow cluster_agent_t self:netlink_netfilter_socket { bind create getattr read setopt write };
allow cluster_agent_t self:netlink_route_socket { bind create getattr nlmsg_read nlmsg_write read setopt write };
allow cluster_agent_t self:process { getcap getsched setpgid setcap setrlimit setsched signal signull };
allow cluster_agent_t self:process setfscreate;
allow cluster_agent_t self:rawip_socket { create getopt setopt };
allow cluster_agent_t self:sem { associate create destroy read unix_read unix_write write };
allow cluster_agent_t self:tcp_socket { connect create getattr getopt read setopt write };
allow cluster_agent_t self:udp_socket { connect create getattr read setopt write };
allow cluster_agent_t self:unix_dgram_socket { connect create ioctl write };
allow cluster_agent_t selinux_config_t:dir search;
allow cluster_agent_t selinux_config_t:file { getattr ioctl open read };
allow cluster_agent_t semanage_exec_t:file { execute execute_no_trans getattr map open read };
allow cluster_agent_t semanage_read_lock_t:file getattr;
allow cluster_agent_t semanage_store_t:dir { add_name create getattr open read remove_name rmdir search write };
allow cluster_agent_t semanage_store_t:file { create getattr open read rename unlink write };
allow cluster_agent_t semanage_trans_lock_t:file { lock open read };
allow cluster_agent_t setfiles_exec_t:file execute;
allow cluster_agent_t shadow_t:file { getattr open read };
allow cluster_agent_t shell_exec_t:file { execute execute_no_trans getattr map open read };
allow cluster_agent_t sshd_t:dir { getattr search };
allow cluster_agent_t sshd_t:file { open read };
allow cluster_agent_t sudo_exec_t:file { execute execute_no_trans getattr map open read };
allow cluster_agent_t sysctl_kernel_t:dir search;
allow cluster_agent_t sysctl_kernel_t:file { getattr open read };
allow cluster_agent_t sysfs_t:dir read;
allow cluster_agent_t sysfs_t:file { getattr open read };
allow cluster_agent_t sysfs_t:lnk_file getattr;
allow cluster_agent_t sysfs_t:lnk_file read;
allow cluster_agent_t syslogd_runtime_t:dir search;
allow cluster_agent_t syslogd_t:dir { getattr search };
allow cluster_agent_t syslogd_t:file { open read };
allow cluster_agent_t system_cronjob_t:dir { getattr search };
allow cluster_agent_t system_cronjob_t:file { open read };
allow cluster_agent_t system_dbusd_runtime_t:dir search;
allow cluster_agent_t system_dbusd_runtime_t:sock_file write;
allow cluster_agent_t system_dbusd_t:dbus send_msg;
allow cluster_agent_t system_dbusd_t:dir { getattr search };
allow cluster_agent_t system_dbusd_t:file { open read };
allow cluster_agent_t system_dbusd_t:unix_stream_socket connectto;
allow cluster_agent_t systemd_homed_t:dir { getattr search };
allow cluster_agent_t systemd_homed_t:file { open read };
allow cluster_agent_t systemd_logind_t:dbus send_msg;
allow cluster_agent_t systemd_logind_t:dir { getattr search };
allow cluster_agent_t systemd_logind_t:fd use;
allow cluster_agent_t systemd_logind_t:file { open read };
allow cluster_agent_t systemd_networkd_t:dir { getattr search };
allow cluster_agent_t systemd_networkd_t:file { open read };
allow cluster_agent_t systemd_networkd_unit_t:dir { getattr open read };
allow cluster_agent_t systemd_resolved_runtime_t:dir search;
allow cluster_agent_t systemd_resolved_runtime_t:file { getattr open read };
allow cluster_agent_t systemd_resolved_t:dir { getattr search };
allow cluster_agent_t systemd_resolved_t:file { open read };
allow cluster_agent_t systemd_sessions_runtime_t:fifo_file write;
allow cluster_agent_t systemd_transient_unit_t:dir { getattr search };
allow cluster_agent_t systemd_unit_t:dir { add_name getattr open read remove_name search write };
allow cluster_agent_t systemd_unit_t:file { append create getattr ioctl open relabelfrom relabelto setattr unlink write };
allow cluster_agent_t systemd_unit_t:service { start status stop reload };
allow cluster_agent_t systemd_userdbd_runtime_t:dir search;
allow cluster_agent_t systemd_userdbd_runtime_t:sock_file write;
allow cluster_agent_t systemd_userdbd_t:dir { getattr search };
allow cluster_agent_t systemd_userdbd_t:file { open read };
allow cluster_agent_t systemd_userdbd_t:unix_stream_socket connectto;
allow cluster_agent_t telegraf_t:dir { getattr search };
allow cluster_agent_t telegraf_t:file { open read };
allow cluster_agent_t tmp_t:dir { add_name search write };
allow cluster_agent_t tmp_t:file { create getattr open read write };
allow cluster_agent_t tmpfs_t:dir { getattr search };
allow cluster_agent_t tmpfs_t:filesystem { getattr unmount };
allow cluster_agent_t tpm_device_t:chr_file getattr;
allow cluster_agent_t tpm2_abrmd_t:dir { getattr search };
allow cluster_agent_t tpm2_abrmd_t:file { open read };
allow cluster_agent_t tun_tap_device_t:chr_file getattr;
allow cluster_agent_t udev_runtime_t:dir search;
allow cluster_agent_t udev_t:dir { getattr search };
allow cluster_agent_t udev_t:file { open read };
allow cluster_agent_t unconfined_t:dir { getattr search };
allow cluster_agent_t unconfined_t:file { open read };
allow cluster_agent_t unlabeled_t:dir getattr;
allow cluster_agent_t unlabeled_t:file { getattr open read };
allow cluster_agent_t urandom_device_t:chr_file { open read };
allow cluster_agent_t urandom_device_t:chr_file getattr;
allow cluster_agent_t usb_device_t:chr_file getattr;
allow cluster_agent_t user_home_dir_t:dir search;
allow cluster_agent_t user_home_t:dir search;
allow cluster_agent_t user_runtime_root_t:dir search;
allow cluster_agent_t user_runtime_t:dir getattr;
allow cluster_agent_t usr_t:dir { add_name create read remove_name rmdir write };
allow cluster_agent_t usr_t:file { create execute execute_no_trans getattr ioctl open read rename setattr unlink write };
allow cluster_agent_t usr_t:service { reload status stop };
allow cluster_agent_t var_lib_t:chr_file unlink;
allow cluster_agent_t var_lib_t:dir { add_name create getattr open read remove_name rmdir search setattr write };
allow cluster_agent_t var_lib_t:fifo_file unlink;
allow cluster_agent_t var_lib_t:file { create getattr open unlink write };
allow cluster_agent_t var_lib_t:lnk_file unlink;
allow cluster_agent_t var_lib_t:sock_file unlink;
allow cluster_agent_t var_lock_t:dir search;
allow cluster_agent_t var_log_t:dir { getattr open read remove_name rmdir search write };
allow cluster_agent_t var_log_t:file unlink;
allow cluster_agent_t var_log_t:lnk_file unlink;
allow cluster_agent_t var_run_t:dir { remove_name rmdir write };
allow cluster_agent_t var_run_t:sock_file write;
allow cluster_agent_t vfio_device_t:chr_file getattr;
allow cluster_agent_t vhost_device_t:chr_file getattr;
allow cluster_agent_t watchdog_device_t:chr_file getattr;
allow cluster_agent_t xserver_misc_device_t:chr_file getattr;

#============= fluent_bit_t ==============
allow fluent_bit_t cluster_agent_t:dir { getattr search };
allow fluent_bit_t cluster_agent_t:file { open read };

#============= initrc_t ==============
allow initrc_t cluster_agent_conf_t:file { getattr open read };

#============= kernel_t ==============
allow kernel_t cluster_agent_conf_t:file { getattr read open write unlink link setattr };

#============= lvm_t ==============
allow lvm_t cluster_agent_t:sem { associate read unix_read unix_write write };

#============= syslogd_t ==============
allow syslogd_t cluster_agent_t:process signull;

#============= system_dbusd_t ==============
allow system_dbusd_t cluster_agent_t:fd use;

#============= systemd_logind_t ==============
allow systemd_logind_t cluster_agent_t:dir search;
allow systemd_logind_t cluster_agent_t:fd use;
allow systemd_logind_t cluster_agent_t:file { getattr ioctl open read };
allow systemd_logind_t cluster_agent_t:dbus send_msg;


#============= unconfined_t ==============
# for root to manage files
# for ab-update script to manage files
allow unconfined_t cluster_agent_conf_t:file { getattr open read unlink relabelto };
allow cluster_agent_conf_t fs_t:filesystem associate;
