module platform-update-agent 1.0.0;

type platform_update_agent_t;
type platform_update_agent_exec_t;
type platform_update_agent_conf_r_t;
type platform_update_agent_conf_rw_t;

require {
    type shell_exec_t;
    type tpm2_abrmd_t;
    type user_home_dir_t;
    type net_conf_t;
    type systemd_sessions_runtime_t;
    type systemd_unit_t;
    type unlabeled_t;
    type systemd_userdbd_runtime_t;
    type mount_runtime_t;
    type etc_t;
    type mount_exec_t;
    type bin_t;
    type platform_update_agent_t;
    type system_dbusd_runtime_t;
    type mount_t;
    type syslogd_runtime_t;
    type security_t;
    type http_port_t;
    type unreserved_port_t;
    type devlog_t;
    type kernel_t;
    type proc_t;
    type systemd_userdbd_t;
    type var_t;
    type var_log_t;
    type tmpfs_t;
    type init_t;
    type initrc_runtime_t;
    type systemd_logind_t;
    type sshd_t;
    type init_runtime_t;
    type auditd_t;
    type sudo_exec_t;
    type platform_update_agent_exec_t;
    type fsadm_t;
    type fs_t;
    type sysctl_kernel_t;
    type syslogd_t;
    type usr_t;
    type user_runtime_root_t;
    type systemd_generator_t;
    type ramfs_t;
    type udev_t;
    type systemd_resolved_runtime_t;
    type selinux_config_t;
    type system_dbusd_t;
    type node_t;
    type proc_net_t;
    type sysfs_t;
    type systemd_transient_unit_t;
    type cert_t;
    type etc_runtime_t;
    type initrc_t;
    type platform_update_agent_conf_r_t;
    type tpm_device_t;
    type urandom_device_t;
    type user_runtime_t;
    type locale_t;
    type lib_t;
    type shadow_t;
    type unconfined_t;
    type fixed_disk_device_t;
    type var_run_t;
    type otelcol_contrib_t;
    type fluent_bit_t;

    class chr_file { getattr open read write };
    class dbus send_msg;
    class file { create entrypoint execute execute_no_trans getattr setattr ioctl map open read rename link unlink write relabelto };
    class process { getsched setpgid setrlimit setsched signal signull sigchld getpgid };
    class capability { audit_write dac_read_search net_admin setgid setuid sys_resource sys_admin };
    class fifo_file { getattr ioctl read write append lock };
    class netlink_route_socket { bind create getattr nlmsg_read read write };
    class netlink_audit_socket { create nlmsg_relay read write };
    class unix_dgram_socket { connect create sendto write };
    class udp_socket { connect create getattr setopt write read };
    class tcp_socket { accept bind connect create getattr getopt listen name_connect node_bind read setopt write };
    class dir { add_name create getattr mounton open read remove_name rmdir search setattr write };
    class lnk_file read;
    class filesystem { getattr mount unmount associate };
    class service { start status stop };
    class sock_file write;
    class system { reload  module_request };
    class unix_stream_socket { connectto getattr getopt read write ioctl };
    class fd use;
    class blk_file { getattr };

    attribute daemon;
    attribute domain;
    attribute entry_type;
    attribute exec_type;
    attribute file_type;

    role system_r;
}

########################################
#Basic rules needed for a service to run

# Define the domain and entry point for the platform_update_agent service
typeattribute platform_update_agent_t domain, daemon;
typeattribute platform_update_agent_exec_t entry_type, exec_type, file_type;

# Type transition rule
type_transition init_t platform_update_agent_exec_t:process platform_update_agent_t;

# Role assignment
role system_r types platform_update_agent_t;

########################################
#Grant permissions for PUA

#============= auditd_t ==============
allow auditd_t unlabeled_t:file { getattr open read };

#============= fluent_bit_t ==============
allow fluent_bit_t platform_update_agent_t:dir { getattr search };
allow fluent_bit_t platform_update_agent_t:file { open read };

#============= mount_t ==============

#!!!! This avc can be allowed using the boolean 'allow_mount_anyfile'
allow mount_t etc_t:dir mounton;

#============= platform_update_agent_t ==============
allow platform_update_agent_t bin_t:dir { getattr open read search };
allow platform_update_agent_t bin_t:file { execute execute_no_trans getattr ioctl map open read };
allow platform_update_agent_t bin_t:lnk_file read;
allow platform_update_agent_t cert_t:dir { open read search };
allow platform_update_agent_t cert_t:file { getattr open read };
allow platform_update_agent_t cert_t:lnk_file read;
allow platform_update_agent_t devlog_t:sock_file write;
allow platform_update_agent_t etc_runtime_t:file { getattr ioctl open read write };
allow platform_update_agent_t etc_t:dir { add_name create mounton remove_name rmdir write };
allow platform_update_agent_t etc_t:file { getattr setattr ioctl create open read write };
allow platform_update_agent_t etc_t:lnk_file read;
allow platform_update_agent_t fs_t:filesystem getattr;
allow platform_update_agent_t http_port_t:tcp_socket name_connect;
allow platform_update_agent_t init_runtime_t:sock_file write;
allow platform_update_agent_t init_t:dir search;
allow platform_update_agent_t init_t:file { getattr read };
allow platform_update_agent_t init_t:lnk_file read;
allow platform_update_agent_t init_t:system reload;
allow platform_update_agent_t init_t:process { sigchld signull getpgid };
allow platform_update_agent_t init_t:fd use;
allow platform_update_agent_t init_t:fifo_file { getattr read write append ioctl lock };
allow platform_update_agent_t init_t:unix_stream_socket { connectto getattr read write ioctl };
allow platform_update_agent_t init_t:unix_dgram_socket sendto;
allow platform_update_agent_t init_t:unix_stream_socket connectto;
allow platform_update_agent_t initrc_runtime_t:sock_file write;
allow platform_update_agent_t initrc_t:unix_stream_socket connectto;
allow platform_update_agent_t kernel_t:unix_dgram_socket sendto;
allow platform_update_agent_t kernel_t:system module_request;
allow platform_update_agent_t lib_t:dir { add_name create remove_name write };
allow platform_update_agent_t lib_t:file { create rename write };
allow platform_update_agent_t locale_t:dir { getattr open read search };
allow platform_update_agent_t locale_t:file { getattr map open read };
allow platform_update_agent_t mount_exec_t:file { execute execute_no_trans getattr map open read };
allow platform_update_agent_t mount_runtime_t:dir { getattr read search write };
allow platform_update_agent_t net_conf_t:file { getattr open read };
allow platform_update_agent_t node_t:tcp_socket node_bind;
allow platform_update_agent_t platform_update_agent_conf_r_t:file { getattr open read };
allow platform_update_agent_t platform_update_agent_conf_rw_t:file { getattr open read write};
allow platform_update_agent_t platform_update_agent_exec_t:file { entrypoint execute getattr map open read };
allow platform_update_agent_t proc_net_t:file { open read };
allow platform_update_agent_t proc_t:file { getattr open read };
allow platform_update_agent_t proc_t:filesystem getattr;
allow platform_update_agent_t ramfs_t:dir { add_name getattr open read remove_name search setattr write };
allow platform_update_agent_t ramfs_t:file { create getattr open read rename unlink write };
allow platform_update_agent_t ramfs_t:filesystem { getattr mount unmount };
allow platform_update_agent_t security_t:filesystem getattr;
allow platform_update_agent_t self:capability { audit_write dac_read_search net_admin setgid setuid sys_resource sys_admin };
allow platform_update_agent_t self:fifo_file { getattr ioctl read write };
allow platform_update_agent_t self:netlink_audit_socket { create nlmsg_relay read write };
allow platform_update_agent_t self:netlink_route_socket { bind create getattr nlmsg_read read write };
allow platform_update_agent_t self:process { getsched setpgid setrlimit setsched signal signull };
allow platform_update_agent_t self:tcp_socket { accept bind connect create getattr getopt listen read setopt write };
allow platform_update_agent_t self:udp_socket { connect create getattr setopt write read };
allow platform_update_agent_t self:unix_dgram_socket { connect create write };
allow platform_update_agent_t selinux_config_t:dir search;
allow platform_update_agent_t shadow_t:file { getattr open read };
allow platform_update_agent_t shell_exec_t:file { execute map open read };
allow platform_update_agent_t sudo_exec_t:file { execute execute_no_trans getattr map open read };
allow platform_update_agent_t sysctl_kernel_t:dir search;
allow platform_update_agent_t sysctl_kernel_t:file { getattr open read };
allow platform_update_agent_t sysfs_t:file { getattr open read };
allow platform_update_agent_t sysfs_t:lnk_file read;
allow platform_update_agent_t syslogd_runtime_t:dir search;
allow platform_update_agent_t system_dbusd_runtime_t:dir search;
allow platform_update_agent_t system_dbusd_runtime_t:sock_file write;
allow platform_update_agent_t system_dbusd_t:dbus send_msg;
allow platform_update_agent_t system_dbusd_t:unix_stream_socket connectto;
allow platform_update_agent_t systemd_logind_t:dbus send_msg;
allow platform_update_agent_t systemd_logind_t:fd use;
allow platform_update_agent_t systemd_resolved_runtime_t:dir search;
allow platform_update_agent_t systemd_resolved_runtime_t:file { getattr open read };
allow platform_update_agent_t systemd_sessions_runtime_t:fifo_file write;
allow platform_update_agent_t systemd_transient_unit_t:dir { getattr search };
allow platform_update_agent_t systemd_unit_t:dir { getattr search };
allow platform_update_agent_t systemd_unit_t:file getattr;
allow platform_update_agent_t systemd_unit_t:service { start status stop };
allow platform_update_agent_t systemd_userdbd_runtime_t:dir search;
allow platform_update_agent_t systemd_userdbd_runtime_t:sock_file write;
allow platform_update_agent_t systemd_userdbd_t:unix_stream_socket connectto;
allow platform_update_agent_t tmpfs_t:dir search;
allow platform_update_agent_t tmpfs_t:file { getattr open read };
allow platform_update_agent_t tpm2_abrmd_t:fd use;
allow platform_update_agent_t tpm2_abrmd_t:unix_stream_socket { getattr getopt read write };
allow platform_update_agent_t tpm_device_t:chr_file { open read write };
allow platform_update_agent_t unlabeled_t:dir search;
allow platform_update_agent_t unlabeled_t:file { getattr open read };
allow platform_update_agent_t unreserved_port_t:tcp_socket name_connect;
#!!!! This avc can be allowed using the boolean 'global_ssp'
allow platform_update_agent_t urandom_device_t:chr_file { getattr open read };
allow platform_update_agent_t user_home_dir_t:dir search;
allow platform_update_agent_t user_runtime_root_t:dir search;
allow platform_update_agent_t user_runtime_t:dir getattr;
allow platform_update_agent_t var_t:dir { add_name write };
allow platform_update_agent_t var_t:file { create getattr setattr open read write };
allow platform_update_agent_t var_log_t:dir search;
allow platform_update_agent_t var_log_t:file { getattr open read write };
allow platform_update_agent_t fixed_disk_device_t:blk_file getattr;
allow platform_update_agent_t otelcol_contrib_t:unix_stream_socket connectto;
allow platform_update_agent_t var_run_t:sock_file write;

#============= syslogd_t ==============
allow syslogd_t platform_update_agent_t:process signull;

#============= system_dbusd_t ==============
allow system_dbusd_t platform_update_agent_t:fd use;
allow system_dbusd_t tpm2_abrmd_t:unix_stream_socket { read write };

#============= systemd_generator_t ==============
allow systemd_generator_t unlabeled_t:file { getattr open read };

#============= systemd_logind_t ==============
allow systemd_logind_t initrc_t:dir search;
allow systemd_logind_t initrc_t:file { getattr ioctl open read };
allow systemd_logind_t platform_update_agent_t:dbus send_msg;
allow systemd_logind_t platform_update_agent_t:dir search;
allow systemd_logind_t platform_update_agent_t:fd use;
allow systemd_logind_t platform_update_agent_t:file { getattr ioctl open read };

#============= systemd_userdbd_t ==============
allow systemd_userdbd_t unlabeled_t:file { getattr open read };

#============= udev_t ==============
allow udev_t unlabeled_t:file { getattr open read };

#============= fsadm_t ==============
allow fsadm_t usr_t:file write;

#============= init_t ==============
allow init_t platform_update_agent_conf_rw_t:file { open read write getattr };

#============= initrc_t ==============
allow initrc_t platform_update_agent_conf_r_t:file { getattr open read };
allow initrc_t platform_update_agent_conf_rw_t:file { getattr ioctl open read unlink };

#============= sshd_t ==============
allow sshd_t unlabeled_t:file { getattr open read };

#============= kernel_t ==============
allow kernel_t platform_update_agent_conf_rw_t:file { open getattr setattr read write link unlink };

#============= unconfined_t ==============
# for root to manage files
# for ab-update script to manage files
allow unconfined_t platform_update_agent_conf_rw_t:file { getattr open read unlink relabelto };
allow platform_update_agent_conf_rw_t fs_t:filesystem associate;
