module fluent_bit 1.0;

type fluent_bit_t;
type fluent_bit_exec_t;

require {
    type auditd_t;
    type bin_t;
    type crond_t;
    type devlog_t;
    type etc_runtime_t;
    type etc_t;
    type fs_t;
    type fsdaemon_t;
    type getty_t;
    type ifconfig_exec_t;
    type inbm_t;
    type init_runtime_t;
    type init_t;
    type initrc_t;
    type irqbalance_t;
    type kernel_t;
    type local_login_t;
    type locale_t;
    type ntpd_t;
    type otelcol_contrib_t;
    type proc_t;
    type rasdaemon_t;
    type security_t;
    type selinux_config_t;
    type semanage_exec_t;
    type setfiles_t;
    type shadow_t;
    type shell_exec_t;
    type src_t;
    type sshd_t;
    type sudo_exec_t;
    type sysctl_kernel_t;
    type sysctl_vm_overcommit_t;
    type sysctl_vm_t;
    type sysfs_t;
    type syslogd_runtime_t;
    type syslogd_t;
    type system_cronjob_t;
    type system_dbusd_runtime_t;
    type system_dbusd_t;
    type systemd_homed_t;
    type systemd_hostnamed_t;
    type systemd_journal_t;
    type systemd_logind_t;
    type systemd_networkd_t;
    type systemd_resolved_t;
    type systemd_sessions_runtime_t;
    type systemd_unit_t;
    type systemd_userdbd_runtime_t;
    type systemd_userdbd_t;
    type tmp_t;
    type tmpfs_t;
    type udev_t;
    type unconfined_t;
    type unlabeled_t;
    type user_runtime_root_t;
    type user_runtime_t;
    type usr_t;
    type var_lib_t;
    type var_log_t;
    type var_run_t;

    class capability { audit_write chown dac_read_search net_admin setgid setuid sys_resource sys_ptrace };
    class dbus send_msg;
    class dir { add_name getattr open read remove_name search setattr watch write create };
    class fd use;
    class fifo_file { getattr read write open append ioctl lock };
    class file { create entrypoint execute execute_no_trans getattr map open read relabelfrom setattr unlink watch write ioctl append lock rename link };
    class filesystem { associate getattr };
    class lnk_file read;
    class netlink_audit_socket { create nlmsg_relay read write };
    class netlink_route_socket { bind create getattr nlmsg_read read setopt write };
    class process { getcap getsched setcap setrlimit setsched };
    class process { sigchld signull getsched signal setrlimit setsched sigkill setfscreate getpgid };
    class service status;
    class sock_file { getattr open read write append };
    class system status;
    class unix_dgram_socket { connect create getopt sendto setopt write };
    class unix_stream_socket { connectto create connect stream getattr read write ioctl };

    attribute daemon;
    attribute domain;
    attribute entry_type;
    attribute exec_type;
    attribute file_type;

    role system_r;
}

# Define the domain and entry point for the selinux_tester service
typeattribute fluent_bit_t domain, daemon;
typeattribute fluent_bit_exec_t entry_type, exec_type, file_type;

# Type transition rule
type_transition init_t fluent_bit_exec_t:process fluent_bit_t;

# Role assignment
role system_r types fluent_bit_t;

#============= fluent_bit_t ==============
allow fluent_bit_t auditd_t:dir { getattr search };
allow fluent_bit_t auditd_t:file { open read };
allow fluent_bit_t bin_t:dir { getattr search };
allow fluent_bit_t bin_t:file { execute execute_no_trans getattr map open read setattr write };
allow fluent_bit_t bin_t:lnk_file read;
allow fluent_bit_t crond_t:dir { getattr search };
allow fluent_bit_t crond_t:file { open read };
allow fluent_bit_t devlog_t:sock_file write;
allow fluent_bit_t etc_runtime_t:file { open read };
allow fluent_bit_t etc_t:file { getattr open read };
allow fluent_bit_t etc_t:file ioctl;
allow fluent_bit_t etc_t:lnk_file read;
allow fluent_bit_t fluent_bit_exec_t:file { entrypoint execute map read };
allow fluent_bit_t fs_t:filesystem { associate getattr };
allow fluent_bit_t fsdaemon_t:dir { getattr search };
allow fluent_bit_t fsdaemon_t:file { open read };
allow fluent_bit_t getty_t:dir { getattr search };
allow fluent_bit_t getty_t:file { open read };
allow fluent_bit_t ifconfig_exec_t:file { execute execute_no_trans getattr map open read };
allow fluent_bit_t inbm_t:dir { getattr search };
allow fluent_bit_t inbm_t:file { open read };
allow fluent_bit_t init_runtime_t:dir search;
allow fluent_bit_t init_t:dbus send_msg;
allow fluent_bit_t init_t:dir { getattr search };
allow fluent_bit_t init_t:fd use;
allow fluent_bit_t init_t:fifo_file { getattr read write append ioctl lock };
allow fluent_bit_t init_t:file { open read };
allow fluent_bit_t init_t:lnk_file read;
allow fluent_bit_t init_t:process { sigchld signull getpgid };
allow fluent_bit_t init_t:system status;
allow fluent_bit_t init_t:unix_dgram_socket sendto;
allow fluent_bit_t init_t:unix_stream_socket { getattr read write ioctl };
allow fluent_bit_t initrc_t:dir { getattr search };
allow fluent_bit_t initrc_t:file { open read };
allow fluent_bit_t irqbalance_t:dir { getattr search };
allow fluent_bit_t irqbalance_t:file { open read };
allow fluent_bit_t kernel_t:dir { getattr search };
allow fluent_bit_t kernel_t:file { open read };
allow fluent_bit_t kernel_t:unix_dgram_socket sendto;
allow fluent_bit_t local_login_t:dir { getattr search };
allow fluent_bit_t local_login_t:file { open read };
allow fluent_bit_t locale_t:dir { getattr open read };
allow fluent_bit_t locale_t:dir search;
allow fluent_bit_t locale_t:file { getattr open read };
allow fluent_bit_t locale_t:file map;
allow fluent_bit_t ntpd_t:dir { getattr search };
allow fluent_bit_t ntpd_t:file { open read };
allow fluent_bit_t otelcol_contrib_t:dir { getattr search };
allow fluent_bit_t otelcol_contrib_t:file { open read };
allow fluent_bit_t otelcol_contrib_t:unix_stream_socket connectto;
allow fluent_bit_t proc_t:dir read;
allow fluent_bit_t proc_t:file { getattr open read };
allow fluent_bit_t proc_t:filesystem getattr;
allow fluent_bit_t rasdaemon_t:dir { getattr search };
allow fluent_bit_t rasdaemon_t:file { getattr open read };
allow fluent_bit_t security_t:dir search;
allow fluent_bit_t security_t:file { open read };
allow fluent_bit_t security_t:filesystem getattr;
allow fluent_bit_t self:capability { audit_write chown dac_read_search net_admin setgid setuid sys_resource sys_ptrace };
allow fluent_bit_t self:fifo_file { getattr ioctl };
allow fluent_bit_t self:fifo_file { read write };
allow fluent_bit_t self:netlink_audit_socket { create nlmsg_relay read write };
allow fluent_bit_t self:netlink_route_socket { bind create getattr nlmsg_read read setopt write };
allow fluent_bit_t self:process { getcap getsched setcap setrlimit setsched };
allow fluent_bit_t self:unix_dgram_socket { connect create getopt setopt write };
allow fluent_bit_t selinux_config_t:dir search;
allow fluent_bit_t selinux_config_t:file { getattr open read };
allow fluent_bit_t semanage_exec_t:file getattr;
allow fluent_bit_t shadow_t:file { getattr open read };
allow fluent_bit_t shell_exec_t:file { execute execute_no_trans getattr map open read };
allow fluent_bit_t src_t:dir search;
allow fluent_bit_t sshd_t:dir { getattr search };
allow fluent_bit_t sshd_t:file { open read };
allow fluent_bit_t sudo_exec_t:file { execute execute_no_trans getattr map open read };
allow fluent_bit_t sysctl_kernel_t:dir search;
allow fluent_bit_t sysctl_kernel_t:file { getattr open read };
allow fluent_bit_t sysctl_vm_overcommit_t:file { open read };
allow fluent_bit_t sysctl_vm_t:dir search;
allow fluent_bit_t sysfs_t:dir read;
allow fluent_bit_t sysfs_t:file { getattr open read };
allow fluent_bit_t syslogd_runtime_t:dir search;
allow fluent_bit_t syslogd_t:dir { getattr search };
allow fluent_bit_t syslogd_t:file { open read };
allow fluent_bit_t system_cronjob_t:dir { getattr search };
allow fluent_bit_t system_cronjob_t:file { open read };
allow fluent_bit_t system_dbusd_runtime_t:dir search;
allow fluent_bit_t system_dbusd_runtime_t:sock_file write;
allow fluent_bit_t system_dbusd_t:dbus send_msg;
allow fluent_bit_t system_dbusd_t:dir { getattr search };
allow fluent_bit_t system_dbusd_t:file { open read };
allow fluent_bit_t system_dbusd_t:unix_stream_socket connectto;
allow fluent_bit_t systemd_homed_t:dir { getattr search };
allow fluent_bit_t systemd_homed_t:file { open read };
allow fluent_bit_t systemd_hostnamed_t:dbus send_msg;
allow fluent_bit_t systemd_hostnamed_t:dir { getattr search };
allow fluent_bit_t systemd_hostnamed_t:file { open read };
allow fluent_bit_t systemd_journal_t:dir { getattr open read search watch };
allow fluent_bit_t systemd_journal_t:file { getattr map open read };
allow fluent_bit_t systemd_logind_t:dbus send_msg;
allow fluent_bit_t systemd_logind_t:dir { getattr search };
allow fluent_bit_t systemd_logind_t:fd use;
allow fluent_bit_t systemd_logind_t:file { open read };
allow fluent_bit_t systemd_networkd_t:dir { getattr search };
allow fluent_bit_t systemd_networkd_t:file { open read };
allow fluent_bit_t systemd_resolved_t:dir { getattr search };
allow fluent_bit_t systemd_resolved_t:file { open read };
allow fluent_bit_t systemd_sessions_runtime_t:fifo_file write;
allow fluent_bit_t systemd_unit_t:service status;
allow fluent_bit_t systemd_userdbd_runtime_t:dir search;
allow fluent_bit_t systemd_userdbd_runtime_t:sock_file write;
allow fluent_bit_t systemd_userdbd_t:dir { getattr search };
allow fluent_bit_t systemd_userdbd_t:file { open read };
allow fluent_bit_t systemd_userdbd_t:unix_stream_socket connectto;
allow fluent_bit_t tmp_t:file { getattr open read };
allow fluent_bit_t tmpfs_t:dir search;
allow fluent_bit_t tmpfs_t:filesystem getattr;
allow fluent_bit_t udev_t:dir { getattr search };
allow fluent_bit_t udev_t:file { open read };
allow fluent_bit_t unconfined_t:dir { getattr search };
allow fluent_bit_t unconfined_t:file { open read };
allow fluent_bit_t unlabeled_t:dir getattr;
allow fluent_bit_t unlabeled_t:file { getattr open read };
allow fluent_bit_t user_runtime_root_t:dir search;
allow fluent_bit_t user_runtime_t:dir getattr;
allow fluent_bit_t usr_t:file { getattr open read };
allow fluent_bit_t usr_t:service status;
allow fluent_bit_t var_lib_t:dir { getattr open read search };
allow fluent_bit_t var_log_t:dir { add_name getattr open read remove_name search write create };
allow fluent_bit_t var_log_t:file { create getattr map open read unlink watch write };
allow fluent_bit_t var_run_t:dir { add_name create setattr write };
allow fluent_bit_t var_run_t:file { create getattr lock open read write };
allow fluent_bit_t var_run_t:sock_file write;

#============= init_t ==============
allow init_t fluent_bit_t:dbus send_msg;
allow init_t fluent_bit_t:file { execute execute_no_trans map };

#============= system_dbusd_t ==============
allow system_dbusd_t fluent_bit_t:fd use;

#============= systemd_hostnamed_t ==============
allow systemd_hostnamed_t fluent_bit_t:dbus send_msg;

#============= systemd_logind_t ==============
allow systemd_logind_t fluent_bit_t:dbus send_msg;
allow systemd_logind_t fluent_bit_t:dir search;
allow systemd_logind_t fluent_bit_t:fd use;
allow systemd_logind_t fluent_bit_t:file { getattr ioctl open read };
