module platform_telemetry_agent 1.0.0;

########################################
#Define the new type in policy module

type platform_telemetry_agent_t;
type platform_telemetry_agent_exec_t;
type platform_telemetry_agent_conf_r_t;
type platform_telemetry_agent_conf_rw_t;

########################################
#To declare external policy entities defined in base policy

require {

    type net_conf_t;
    type etc_t;
    type sysfs_t;
    type ld_so_cache_t;
    type bin_t;
    type shell_exec_t;
    type init_runtime_t;
    type systemd_resolved_runtime_t;
    type shadow_t;
    type sysctl_kernel_t;
    type init_t;
    type init_tmpfs_t;
    type tmp_t;
    type locale_t;
    type cert_t;
    type rpm_t;
    type security_t;
    type selinux_config_t;
    type device_t;
    type devpts_t;
    type initrc_devpts_t;
    type systemd_socket_proxyd_t;
    type nscd_t;
    type nscd_runtime_t;
    type var_t;
    type var_run_t;
    type sudo_exec_t;
    type syslogd_runtime_t;
    type proc_t;
    type system_dbusd_t;
    type systemd_unit_t;
    type systemd_logind_t;
    type chkpwd_exec_t;
    type devlog_t;
    type fs_t;
    type kernel_t;
    type system_dbusd_runtime_t;
    type systemd_journal_t;
    type systemd_sessions_runtime_t;
    type systemd_userdbd_runtime_t;
    type systemd_userdbd_t;
    type tmpfs_t;
    type user_runtime_root_t;
    type user_runtime_t;
    type var_log_t;
    type etc_runtime_t;
    type dmidecode_exec_t;
    type http_port_t;
    type initrc_t;
    type unconfined_t;
    type fluent_bit_t;
    type unlabeled_t;
    type syslogd_t;

    class file { create execute execute_no_trans getattr setattr ioctl map open read unlink link write append lock rename entrypoint relabelto };
    class dir { getattr search open read write add_name remove_name create };
    class process { sigchld signull getsched signal setrlimit setsched sigkill setfscreate getpgid };
    class lnk_file read;
    class fifo_file { getattr read write open append ioctl lock };
    class fd use;
    class sock_file { getattr open read write append };
    class unix_stream_socket { connectto create connect stream getattr read write ioctl };
    class nscd { getpwd getgrp gethost };
    class unix_dgram_socket { connect create write sendto };
    class capability { audit_write dac_read_search dac_override net_admin setgid setuid sys_resource chown fowner fsetid };
    class netlink_route_socket { bind create getattr nlmsg_read read write };
    class netlink_audit_socket { create nlmsg_relay read write };
    class filesystem { getattr associate };
    class dbus send_msg;
    class service { start status };
    class udp_socket { connect create getattr read setopt write };
    class tcp_socket { getattr read write connect create getopt setopt name_connect };

    attribute daemon;
    attribute domain;
    attribute entry_type;
    attribute exec_type;
    attribute file_type;
    attribute non_security_file_type;
    attribute non_auth_file_type;

    role system_r;

}

# Define the domain and entry point for the selinux_tester service
typeattribute platform_telemetry_agent_t domain, daemon;
typeattribute platform_telemetry_agent_exec_t entry_type, exec_type, file_type;

# Type transition rule
type_transition init_t platform_telemetry_agent_exec_t:process platform_telemetry_agent_t;

# Role assignment
role system_r types platform_telemetry_agent_t;

# Allow rules for interaction with init process
allow platform_telemetry_agent_t init_t:process { sigchld signull getpgid };
allow platform_telemetry_agent_t init_t:fd use;
allow platform_telemetry_agent_t init_t:fifo_file { getattr read write append ioctl lock };
allow platform_telemetry_agent_t init_t:unix_stream_socket { getattr read write ioctl };
allow platform_telemetry_agent_t init_t:unix_dgram_socket sendto;
allow platform_telemetry_agent_t init_tmpfs_t:file { getattr read write append ioctl lock };
allow platform_telemetry_agent_t init_t:file read;
allow platform_telemetry_agent_t init_t:lnk_file read;
allow platform_telemetry_agent_t init_t:dir search;
allow platform_telemetry_agent_t init_t:unix_stream_socket connectto;
allow platform_telemetry_agent_t init_runtime_t:sock_file write;
allow platform_telemetry_agent_t init_runtime_t:dir search;

# Allow rules for interaction with exec and self process
allow platform_telemetry_agent_t platform_telemetry_agent_exec_t:file { getattr entrypoint map read open execute ioctl execute_no_trans };
allow platform_telemetry_agent_t self:process { getsched signal signull };
allow platform_telemetry_agent_t self:fifo_file { getattr ioctl read write };

allow platform_telemetry_agent_t shell_exec_t:file { execute execute_no_trans getattr map open read };
allow platform_telemetry_agent_t sysfs_t:file { getattr open read };

allow platform_telemetry_agent_t cert_t:dir { open read search };
allow platform_telemetry_agent_t cert_t:file { getattr open read };
allow platform_telemetry_agent_t cert_t:lnk_file read;
allow platform_telemetry_agent_t net_conf_t:file { getattr open read };
allow platform_telemetry_agent_t ld_so_cache_t:file { getattr open read };
allow platform_telemetry_agent_t systemd_resolved_runtime_t:dir search;
allow platform_telemetry_agent_t systemd_resolved_runtime_t:file { getattr open read };
allow platform_telemetry_agent_t shadow_t:file { getattr open read };

########################################
#Allow sudo systemctl
#Allow create, copy, and remove files

allow platform_telemetry_agent_t sudo_exec_t:file { execute execute_no_trans map getattr open read };
allow platform_telemetry_agent_t self:unix_dgram_socket { connect create write };
allow platform_telemetry_agent_t self:capability { audit_write dac_read_search dac_override net_admin setgid setuid sys_resource chown fowner fsetid };
allow platform_telemetry_agent_t self:netlink_audit_socket { create nlmsg_relay read write };
allow platform_telemetry_agent_t self:process { setrlimit setsched sigkill setfscreate };
allow platform_telemetry_agent_t self:netlink_route_socket { bind create getattr nlmsg_read read write };
allow platform_telemetry_agent_t self:udp_socket { connect create getattr read setopt write };
allow platform_telemetry_agent_t self:tcp_socket { getattr read write connect create getopt setopt };

allow platform_telemetry_agent_t sysctl_kernel_t:dir search;
allow platform_telemetry_agent_t sysctl_kernel_t:file { getattr open read };

allow platform_telemetry_agent_t etc_t:file { getattr ioctl open read create rename setattr unlink write };
allow platform_telemetry_agent_t etc_t:dir { add_name remove_name write };
allow platform_telemetry_agent_t etc_t:lnk_file read;

allow platform_telemetry_agent_t locale_t:dir { search getattr read open };
allow platform_telemetry_agent_t locale_t:file { getattr map open read };

allow platform_telemetry_agent_t proc_t:file { getattr read open };
allow platform_telemetry_agent_t proc_t:filesystem getattr;

allow platform_telemetry_agent_t bin_t:dir search;
allow platform_telemetry_agent_t bin_t:file { execute execute_no_trans getattr map open read };

allow platform_telemetry_agent_t system_dbusd_runtime_t:dir search;
allow platform_telemetry_agent_t system_dbusd_runtime_t:sock_file write;
allow platform_telemetry_agent_t system_dbusd_t:unix_stream_socket connectto;
allow platform_telemetry_agent_t system_dbusd_t:dbus send_msg;

allow platform_telemetry_agent_t systemd_journal_t:dir { getattr open read search };
allow platform_telemetry_agent_t systemd_journal_t:file { getattr map open read };
allow platform_telemetry_agent_t systemd_logind_t:fd use;
allow platform_telemetry_agent_t systemd_logind_t:dbus send_msg;
allow platform_telemetry_agent_t systemd_sessions_runtime_t:fifo_file write;
allow platform_telemetry_agent_t systemd_userdbd_runtime_t:dir search;
allow platform_telemetry_agent_t systemd_userdbd_runtime_t:sock_file write;
allow platform_telemetry_agent_t systemd_userdbd_t:unix_stream_socket connectto;
allow platform_telemetry_agent_t systemd_unit_t:service { start status };
allow platform_telemetry_agent_t syslogd_runtime_t:dir search;

allow platform_telemetry_agent_t tmp_t:dir { add_name remove_name search write };
allow platform_telemetry_agent_t tmp_t:file { create getattr ioctl open read setattr unlink write };
allow platform_telemetry_agent_t tmpfs_t:filesystem getattr;
allow platform_telemetry_agent_t tmpfs_t:dir { search add_name remove_name write };

allow platform_telemetry_agent_t chkpwd_exec_t:file { execute execute_no_trans map open read };
allow platform_telemetry_agent_t devlog_t:sock_file write;
allow platform_telemetry_agent_t fs_t:filesystem getattr;
allow platform_telemetry_agent_t kernel_t:unix_dgram_socket sendto;
allow platform_telemetry_agent_t selinux_config_t:dir search;
allow platform_telemetry_agent_t security_t:filesystem getattr;
allow platform_telemetry_agent_t user_runtime_root_t:dir search;
allow platform_telemetry_agent_t user_runtime_t:dir { getattr search };
allow platform_telemetry_agent_t var_log_t:dir search;
allow platform_telemetry_agent_t http_port_t:tcp_socket name_connect;
allow platform_telemetry_agent_t dmidecode_exec_t:file { execute execute_no_trans getattr map open read };
allow platform_telemetry_agent_t etc_runtime_t:file { getattr open read };

allow platform_telemetry_agent_t unlabeled_t:dir search;
allow platform_telemetry_agent_t unlabeled_t:file { getattr open read };

#Allow access to PTA files
allow platform_telemetry_agent_t platform_telemetry_agent_conf_r_t:file { getattr open read ioctl unlink };
allow platform_telemetry_agent_t platform_telemetry_agent_conf_rw_t:file { getattr open read write ioctl unlink };

#============= fluent_bit_t ==============
allow fluent_bit_t platform_telemetry_agent_t:dir { getattr search };
allow fluent_bit_t platform_telemetry_agent_t:file { open read };

#Allow other process to access platform_telemetry_agent
allow system_dbusd_t platform_telemetry_agent_t:fd use;
allow syslogd_t platform_telemetry_agent_t:process signull;
allow systemd_logind_t platform_telemetry_agent_t:fd use;
allow systemd_logind_t platform_telemetry_agent_t:dir search;
allow systemd_logind_t platform_telemetry_agent_t:file { getattr ioctl open read };
allow systemd_logind_t platform_telemetry_agent_t:dbus send_msg;

allow kernel_t platform_telemetry_agent_conf_r_t:file { getattr read open unlink };
allow kernel_t platform_telemetry_agent_conf_rw_t:file { getattr setattr read write open unlink link };

allow initrc_t platform_telemetry_agent_conf_r_t:file { getattr open read write};
allow initrc_t platform_telemetry_agent_conf_rw_t:file { getattr open read write};

#============= unconfined_t ==============
# for root to manage files
# for ab-update script to manage files
allow unconfined_t platform_telemetry_agent_conf_rw_t:file { getattr open read unlink relabelto };
allow platform_telemetry_agent_conf_rw_t fs_t:filesystem associate;
