module node_agent 1.0;

type node_agent_t;
type node_agent_exec_t;
type node_agent_conf_t;

require {
    type bin_t;
    type cert_t;
    type cgroup_t;
    type cloud_init_exec_t;
    type cloud_init_log_t;
    type cloud_init_t;
    type devlog_t;
    type dmidecode_exec_t;
    type etc_runtime_t;
    type etc_t;
    type fluent_bit_t;
    type fs_t;
    type http_port_t;
    type init_t;
    type initrc_runtime_t;
    type initrc_t;
    type kernel_t;
    type locale_t;
    type net_conf_t;
    type node_t;
    type otelcol_contrib_t;
    type proc_net_t;
    type proc_t;
    type security_t;
    type selinux_config_t;
    type shadow_t;
    type shell_exec_t;
    type sudo_exec_t;
    type sysctl_kernel_t;
    type sysfs_t;
    type syslogd_runtime_t;
    type syslogd_t;
    type system_dbusd_runtime_t;
    type system_dbusd_t;
    type systemd_analyze_exec_t;
    type systemd_logind_t;
    type systemd_resolved_runtime_t;
    type systemd_sessions_runtime_t;
    type systemd_unit_t;
    type systemd_userdbd_runtime_t;
    type systemd_userdbd_t;
    type tmpfs_t;
    type unconfined_t;
    type unlabeled_t;
    type user_runtime_root_t;
    type user_runtime_t;
    type var_log_t;
    type var_run_t;

    class capability { audit_write dac_read_search net_admin setgid setuid sys_resource };
    class dbus send_msg;
    class dir { add_name getattr open read search write };
    class dir { getattr search };
    class fd use;
    class fifo_file { getattr ioctl read write append lock };
    class file { create link setattr entrypoint execute execute_no_trans getattr ioctl map open read write unlink relabelto };
    class file { open read };
    class filesystem { associate getattr };
    class lnk_file read;
    class netlink_audit_socket { create nlmsg_relay read write };
    class netlink_route_socket { bind create getattr nlmsg_read read write };
    class process { getsched signal sigchld signull getpgid setrlimit setsched };
    class service { start status stop reload };
    class sock_file write;
    class system { status module_request };
    class tcp_socket { bind connect create getattr getopt name_connect node_bind read setopt write };
    class udp_socket { connect create getattr read setopt write };
    class unix_dgram_socket { connect create sendto write };
    class unix_stream_socket { connectto getattr read write ioctl };

    attribute daemon;
    attribute domain;
    attribute entry_type;
    attribute exec_type;
    attribute file_type;

    role system_r;
}

# Define the domain and entry point for the selinux_tester service
typeattribute node_agent_t domain, daemon;
typeattribute node_agent_exec_t entry_type, exec_type, file_type;

# Type transition rule
type_transition init_t node_agent_exec_t:process node_agent_t;

# Role assignment
role system_r types node_agent_t;

#============= node_agent_t ==============
allow node_agent_t bin_t:dir { search getattr open read };
allow node_agent_t bin_t:file { map execute execute_no_trans getattr open read };
allow node_agent_t bin_t:lnk_file read;
allow node_agent_t cert_t:dir { open read search };
allow node_agent_t cert_t:file { getattr open read };
allow node_agent_t cert_t:lnk_file read;
allow node_agent_t cgroup_t:filesystem getattr;
allow node_agent_t cloud_init_exec_t:file { ioctl execute execute_no_trans getattr open read };
allow node_agent_t cloud_init_log_t:file { getattr ioctl open read };
allow node_agent_t devlog_t:sock_file write;
allow node_agent_t dmidecode_exec_t:file { execute execute_no_trans getattr map open read };
allow node_agent_t etc_runtime_t:file { getattr open read write };
allow node_agent_t etc_t:dir { add_name write };
allow node_agent_t etc_t:file { create ioctl getattr open read write };
allow node_agent_t etc_t:lnk_file read;
allow node_agent_t http_port_t:tcp_socket name_connect;
allow node_agent_t init_t:dbus send_msg;
allow node_agent_t init_t:dir search;
allow node_agent_t init_t:fd use;
allow node_agent_t init_t:fifo_file { getattr read write append ioctl lock };
allow node_agent_t init_t:file { read getattr };
allow node_agent_t init_t:lnk_file read;
allow node_agent_t init_t:process { sigchld signull getpgid };
allow node_agent_t init_t:system status;
allow node_agent_t init_t:unix_dgram_socket sendto;
allow node_agent_t init_t:unix_stream_socket { getattr read write ioctl };
allow node_agent_t initrc_runtime_t:sock_file write;
allow node_agent_t initrc_t:unix_stream_socket connectto;
allow node_agent_t kernel_t:system module_request;
allow node_agent_t kernel_t:unix_dgram_socket sendto;
allow node_agent_t locale_t:dir { getattr open read search };
allow node_agent_t locale_t:file { getattr map open read };
allow node_agent_t net_conf_t:file { getattr open read };
allow node_agent_t node_agent_conf_t:file { getattr open read write unlink };
allow node_agent_t node_agent_exec_t:file { entrypoint execute execute_no_trans getattr ioctl map open read };
allow node_agent_t node_t:tcp_socket node_bind;
allow node_agent_t otelcol_contrib_t:unix_stream_socket connectto;
allow node_agent_t proc_net_t:file { open read };
allow node_agent_t proc_t:file { ioctl getattr open read };
allow node_agent_t proc_t:filesystem getattr;
allow node_agent_t security_t:filesystem getattr;
allow node_agent_t self:capability { audit_write dac_read_search net_admin setgid setuid sys_resource };
allow node_agent_t self:fifo_file { getattr ioctl read write };
allow node_agent_t self:netlink_audit_socket { create nlmsg_relay read write };
allow node_agent_t self:netlink_route_socket { bind create getattr nlmsg_read read write };
allow node_agent_t self:process { getsched signal setrlimit setsched signull };
allow node_agent_t self:tcp_socket { bind connect create getattr getopt read setopt write };
allow node_agent_t self:udp_socket { connect create getattr read setopt write };
allow node_agent_t self:unix_dgram_socket { connect create write };
allow node_agent_t selinux_config_t:dir search;
allow node_agent_t shadow_t:file { getattr open read };
allow node_agent_t shell_exec_t:file { execute map read };
allow node_agent_t sudo_exec_t:file { execute execute_no_trans getattr open read map };
allow node_agent_t sysctl_kernel_t:dir search;
allow node_agent_t sysctl_kernel_t:file { getattr ioctl open read };
allow node_agent_t sysfs_t:file { getattr open read };
allow node_agent_t syslogd_runtime_t:dir search;
allow node_agent_t system_dbusd_runtime_t:dir search;
allow node_agent_t system_dbusd_runtime_t:sock_file write;
allow node_agent_t system_dbusd_t:dbus send_msg;
allow node_agent_t system_dbusd_t:unix_stream_socket connectto;
allow node_agent_t systemd_analyze_exec_t:file { execute execute_no_trans getattr open read map };
allow node_agent_t systemd_logind_t:dbus send_msg;
allow node_agent_t systemd_logind_t:fd use;
allow node_agent_t systemd_resolved_runtime_t:dir search;
allow node_agent_t systemd_resolved_runtime_t:file { getattr open read };
allow node_agent_t systemd_sessions_runtime_t:fifo_file write;
allow node_agent_t systemd_unit_t:service { start status stop reload };
allow node_agent_t systemd_userdbd_runtime_t:dir search;
allow node_agent_t systemd_userdbd_runtime_t:sock_file write;
allow node_agent_t systemd_userdbd_t:unix_stream_socket connectto;
allow node_agent_t tmpfs_t:dir search;
allow node_agent_t tmpfs_t:file { getattr open read write };
allow node_agent_t unlabeled_t:dir search;
allow node_agent_t unlabeled_t:file { getattr open read };
allow node_agent_t user_runtime_root_t:dir search;
allow node_agent_t user_runtime_t:dir getattr;
allow node_agent_t var_log_t:dir search;
allow node_agent_t var_run_t:sock_file write;

#============= node_agent_conf_t ==============
allow node_agent_conf_t fs_t:filesystem associate;
allow node_agent_conf_t tmpfs_t:filesystem associate;

#============= fluent_bit_t ==============
allow fluent_bit_t node_agent_t:dir { getattr search };
allow fluent_bit_t node_agent_t:file { open read };

#============= init_t ==============
allow init_t node_agent_conf_t:dbus send_msg;
allow init_t node_agent_conf_t:file { getattr open read };
allow init_t node_agent_t:dbus send_msg;

#============= initrc_t ==============
allow initrc_t node_agent_conf_t:file { getattr open read ioctl unlink };

#============= kernel_t ==============
allow kernel_t node_agent_conf_t:file { getattr read open write link unlink relabelto setattr };

#============= syslogd_t ==============
allow syslogd_t node_agent_t:process signull;

#============= system_dbusd_t ==============
allow system_dbusd_t node_agent_t:fd use;

#============= systemd_logind_t ==============
allow systemd_logind_t node_agent_t:dir search;
allow systemd_logind_t node_agent_t:fd use;
allow systemd_logind_t node_agent_t:file { getattr ioctl open read };
allow systemd_logind_t node_agent_t:dbus send_msg;

#============= unconfined_t ==============
# for root to manage files
# for ab-update script to manage files
allow unconfined_t node_agent_conf_t:file { getattr open read unlink relabelto };
allow node_agent_conf_t fs_t:filesystem associate;

#============= cloud_init_t ==============
allow cloud_init_t node_agent_conf_t:file getattr;
