[Unit]
Description=Unseal TPM Key
Before=basic.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/etc/tpm-cryptsetup.sh
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
